In [1]:
import pandas as pd

DataFrame을 만들기 위해 파이썬 dictionary를 다음과 같이 정의한다.

In [2]:
people = {
    "이름" : ["길동", "춘향", "몽룡"],
    "성" : ["홍", "성", "이"],
    "이메일" : ["gdhong@gmail.com", "chsung@gmail.com", "mrlee@gmail.com"]
}

people로 부터 DataFrame을 생성하고 그 놈을 df라 하자

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   이름  성               이메일
0  길동  홍  gdhong@gmail.com
1  춘향  성  chsung@gmail.com
2  몽룡  이   mrlee@gmail.com

In [6]:
type(df)

pandas.core.frame.DataFrame

last칼럼값을 오름차순으로 정렬하자. sort_values()함수 이용.

In [9]:
df.sort_values(by='성')

   이름  성               이메일
1  춘향  성  chsung@gmail.com
2  몽룡  이   mrlee@gmail.com
0  길동  홍  gdhong@gmail.com

In [10]:
df

   이름  성               이메일
0  길동  홍  gdhong@gmail.com
1  춘향  성  chsung@gmail.com
2  몽룡  이   mrlee@gmail.com

기본적으로 sort_values는 오름차순 정렬한다. sort_values(ascending=True)가 기본 값
내림차순으로 정렬하고자 한다면

In [11]:
df.sort_values(by='성', ascending=False)

   이름  성               이메일
0  길동  홍  gdhong@gmail.com
2  몽룡  이   mrlee@gmail.com
1  춘향  성  chsung@gmail.com

SQL에서도 order by 절에 정렬 기준을 여러개 명시할 수 있다.
pandas도 그렇다

In [14]:
df.sort_values(by=['성','이름'], ascending=[True,False])

   이름  성               이메일
1  춘향  성  chsung@gmail.com
2  몽룡  이   mrlee@gmail.com
0  길동  홍  gdhong@gmail.com

In [19]:
person = {'이름' : '준표', '성' : '홍', '이메일' : 'jphong@gmail.com'}

새로운 레코드를 기존 DataFrame에 추가할 때, append()를 사용할 수 있다.

In [20]:
person

{'이름': '준표', '성': '홍', '이메일': 'jphong@gmail.com'}

In [17]:
df

   이름  성               이메일
0  길동  홍  gdhong@gmail.com
1  춘향  성  chsung@gmail.com
2  몽룡  이   mrlee@gmail.com

In [24]:
df = df.append(person, ignore_index=True)

In [25]:
df

   이름  성               이메일
0  길동  홍  gdhong@gmail.com
1  춘향  성  chsung@gmail.com
2  몽룡  이   mrlee@gmail.com
3  준표  홍  jphong@gmail.com

In [26]:
df.sort_values(by=['성','이름'], ascending=[True, False])

   이름  성               이메일
1  춘향  성  chsung@gmail.com
2  몽룡  이   mrlee@gmail.com
3  준표  홍  jphong@gmail.com
0  길동  홍  gdhong@gmail.com

행 삭제는 drop() 함수 이용하고, index 옵션 명시

In [28]:
df.drop(index=3, inplace=True)

In [29]:
df

   이름  성               이메일
0  길동  홍  gdhong@gmail.com
1  춘향  성  chsung@gmail.com
2  몽룡  이   mrlee@gmail.com

In [30]:
df = df.append(person, ignore_index=True)

In [31]:
df

   이름  성               이메일
0  길동  홍  gdhong@gmail.com
1  춘향  성  chsung@gmail.com
2  몽룡  이   mrlee@gmail.com
3  준표  홍  jphong@gmail.com

In [34]:
df.sort_values(by=['성','이름'], ascending=[False, True], inplace=True)

In [35]:
df

   이름  성               이메일
0  길동  홍  gdhong@gmail.com
3  준표  홍  jphong@gmail.com
2  몽룡  이   mrlee@gmail.com
1  춘향  성  chsung@gmail.com

인덱스를 기준으로 정렬하고자 할 때, sort_index()함수를 사용한다.

In [36]:
df.sort_index()

   이름  성               이메일
0  길동  홍  gdhong@gmail.com
1  춘향  성  chsung@gmail.com
2  몽룡  이   mrlee@gmail.com
3  준표  홍  jphong@gmail.com

하나의 칼럼 값만 정렬해서 그 결과를 보고 싶다면, 즉 Series 객체만 정렬하고 싶다면:

In [39]:
df['성'].sort_values()

1    성
2    이
0    홍
3    홍
Name: 성, dtype: object

In [42]:
df = pd.read_csv('./survey/survey_results_public.csv', index_col = 'Respondent')

In [43]:
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [44]:
schema_df = pd.read_csv('./survey/survey_results_schema.csv')

NaN 표시된 것은 미입력된 값, SQL의 NULL값, pandas에서는 missing value라 부른다.

데이터프레임 df의 행을 'Country' 칼럼 값을 기준으로 오름차순 정렬하라.

In [46]:
df.sort_values(by='Country')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
39258,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Afghanistan,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,NaN,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,East Asian;South Asian,Yes,Too long,Easy
63129,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Afghanistan,"Yes, full-time",I never completed any formal education,NaN,Taken an online course in programming or softw...,...,NaN,Tech articles written by other developers,NaN,NaN,NaN,NaN,NaN,Yes,Too short,Easy
85715,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Afghanistan,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Received on-the-job training in software devel...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,28.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
50767,I am a developer by profession,No,Less than once per year,NaN,"Independent contractor, freelancer, or self-em...",Afghanistan,"Yes, part-time",Associate degree,"A health science (ex. nursing, pharmacy, radio...",Completed an industry certification program (e...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2782,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",NaN,Afghanistan,No,NaN,I never declared a major,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,60.0,Man,NaN,NaN,NaN,NaN,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88062,NaN,No,Never,"OSS is, on average, of LOWER quality than prop...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88076,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df.sort_values(by='Country', inplace = True)

국가 이름으로 오름차순 된 정렬된 데이터프레임의 나라와 월급정보를 출력해보자.
Country, ConvertedComp

In [51]:
df.sort_values(by=['Country','ConvertedComp'], inplace = True)

In [52]:
df[['Country','ConvertedComp']].head(50)

                Country  ConvertedComp
Respondent
28638       Afghanistan            0.0
722         Afghanistan            0.0
29736       Afghanistan         1116.0
8149        Afghanistan         1596.0
10746       Afghanistan         3996.0
48436       Afghanistan         4464.0
22450       Afghanistan         7980.0
7085        Afghanistan        14364.0
58450       Afghanistan        17556.0
39258       Afghanistan        19152.0
50499       Afghanistan       153216.0
63129       Afghanistan      1000000.0
85715       Afghanistan            NaN
50767       Afghanistan            NaN
2782        Afghanistan            NaN
63019       Afghanistan            NaN
6417        Afghanistan            NaN
40000       Afghanistan            NaN
88731       Afghanistan            NaN
62525       Afghanistan            NaN
49702       Afghanistan            NaN
33178       Afghanistan            NaN
60946       Afghanistan            NaN
86362       Afghanistan            NaN
88582       Afghanistan            NaN
26340       Afghanistan            NaN
86932       Afghanistan            NaN
85825       Afghanistan            NaN
7353        Afghanistan            NaN
87091       Afghanistan            NaN
58760       Afghanistan            NaN
74386       Afghanistan            NaN
29045       Afghanistan            NaN
51859       Afghanistan            NaN
45854       Afghanistan            NaN
47110       Afghanistan            NaN
44403       Afghanistan            NaN
80926       Afghanistan            NaN
59560       Afghanistan            NaN
60569       Afghanistan            NaN
37802       Afghanistan            NaN
43106       Afghanistan            NaN
12310       Afghanistan            NaN
62168       Afghanistan            NaN
70726           Albania         1320.0
60364           Albania         3864.0
77233           Albania         4416.0
25589           Albania         4416.0
78817           Albania         4968.0
34211           Albania         5496.0

ConvertedComp 칼럼 이름을 SalaryUSD로 변경하자.
rename()이용

In [55]:
df.rename(columns = {'ConvertedComp' : 'SalaryUSD'}, inplace = True)

In [56]:
df['SalaryUSD']

Respondent
28638       0.0
722         0.0
29736    1116.0
8149     1596.0
10746    3996.0
          ...
88062       NaN
88076       NaN
88601       NaN
88802       NaN
88816       NaN
Name: SalaryUSD, Length: 88883, dtype: float64

In [57]:
pd.set_option('display.max_columns', 84)

In [58]:
df.head(2)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,SalaryUSD,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
28638,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",Afghanistan,NaN,"Other doctoral degree (Ph.D, Ed.D., etc.)",I never declared a major,NaN,NaN,NaN,36,13,16,Very dissatisfied,Very dissatisfied,NaN,NaN,NaN,I am not interested in new job opportunities,NaN,NaN,NaN,NaN,NaN,AFN,Afghan afghani,3.0,Monthly,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell/PowerShell;C;C++;Java;Objective-C;O...,Bash/Shell/PowerShell;C;C++;Java;Objective-C;O...,MySQL;SQLite,MySQL;SQLite,Android;iOS;Linux;MacOS,Android;iOS;Linux,jQuery,NaN,TensorFlow;Unity 3D,Hadoop;TensorFlow;Unity 3D,Emacs,Linux-based,I do not use containers,NaN,Useful for immutable record keeping outside of...,No,Yes,No,NaN,In real life (in person),Username,2008,Daily or almost daily,Find answers to specific questions,6-10 times per week,The other resource was much faster,11-30 minutes,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...","No, not at all",A lot less welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,NaN
722,I am a developer by profession,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,NaN,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,Less than 1 year,Younger than 5 years,Less than 1 year,Very satisfied,Very satisfied,NaN,NaN,NaN,I am not interested in new job opportunities,NA - I am an independent contractor or self em...,NaN,No,NaN,I heard about a job opportunity (from a recrui...,AFN,Afghan afghani,1.0,Yearly,0.0,1.0,NaN,NaN,Less than once per month / Never,"Other place, such as a coworking space or cafe",Far above average,"Yes, because I see value in code review",1.0,"No, and I'm glad we don't",NaN,I have little or no influence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,SIGH,What?,NaN,Neither,NaN,2008,Multiple times per day,NaN,More than 10 times per week,The other resource was much faster,60+ minutes,Not sure / can't remember,NaN,Yes,Yes,Not sure,Not applicable - I did not use Stack Overflow ...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,Too long,Difficult

연봉 상위 10명 출력하라

In [63]:
df.sort_values(by='SalaryUSD', ascending=False)[['Country','SalaryUSD']].head(10)

                  Country  SalaryUSD
Respondent
20410       United States  2000000.0
1452        United States  2000000.0
77570       United States  2000000.0
77514       United States  2000000.0
87882       United States  2000000.0
19074       United States  2000000.0
77512       United States  2000000.0
77433       United States  2000000.0
2217        United States  2000000.0
19344       United States  2000000.0

pandas에서 상위 n개의 결과를 볼 수 있는 nlargest() 함수를 제공한다. 상위 10명의 연봉만 보고 싶다

In [65]:
df['SalaryUSD'].nlargest(10)

Respondent
25983    2000000.0
87896    2000000.0
22013    2000000.0
28243    2000000.0
72732    2000000.0
78151    2000000.0
80200    2000000.0
52132    2000000.0
75561    2000000.0
32250    2000000.0
Name: SalaryUSD, dtype: float64

연봉 top 10의 다른 정보도 알고 싶다. 그러면?

In [69]:
df.nlargest(10, 'SalaryUSD')[['Country','EdLevel','SalaryUSD']]

,Country,EdLevel,SalaryUSD
Respondent,,,
25983,Canada,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2000000.0
87896,Germany,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2000000.0
22013,India,"Professional degree (JD, MD, etc.)",2000000.0
28243,India,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",2000000.0
72732,India,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2000000.0
78151,Mexico,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2000000.0
80200,Netherlands,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2000000.0
52132,Peru,Some college/university study without earning ...,2000000.0
75561,Singapore,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2000000.0
32250,Switzerland,"Bachelor’s degree (BA, BS, B.Eng., etc.)",2000000.0